html {
    font-size: 62.5%;
}
* {
    box-sizing: border-box;
    outline: none;
}

/*---------------------------------------
GLOBAL---------------------------------*/

img {
    display: block;
    max-width: 100%;
}
body {
    background: #fff;
    color: #a1a1a1;
    font: 2rem/2.6rem 'Open Sans', sans-serif;
}
.grid, .miniGrid {
    padding: 0 5vw;
}
.main .top {
    position: fixed;
    top: 0;
    right: 10vw;
    background: #fff;
}

/*---------------------------------------
Common Styles---------------------------*/

.main h1 {
    color: #464646;
    font: 3.8rem/4rem 'Montserrat', sans-serif;
}
.colorDark {
    background: #e7eef6;
}
.main h1, .main p {
    margin: 0 0 20px 0;
}

/*---------------------------------------
LOGO---------------------------------*/

.header .logo {
    display: flex;
    width: 145px; 
    height: 28px;
    position: absolute;
    top: 30px;
    left: 25px;
    z-index: 5;
    transform: scale(1.2);
}
.header .logo a {
    width: 28px;
    height: 26px;
    display: block;
    text-indent: -9999px;
    background: url(../images/logo/spritesheet11.png);
}
.header .logo .img1 {
    background-position: 0 0;
}
.header .logo .img2 {
    background-position: 0 104px;
}
.header .logo .img3 {
    background-position: 0 78px;
}
.header .logo .img4 {
    background-position: 0 52px;
}
.header .logo .img5 {
    background-position: 0 156px;
}

/*---------------------------------------
MENU---------------------------------*/

.header .menu {
    position: absolute;
    top: 65px;
    left: -160px;
    z-index: 5;
}
.header .menu ul {
    display: flex;
    flex-flow: column;
    text-align: left;
}
.menu ul a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font: 700 1.8rem/2rem 'Montserrat', sans-serif;
    color: #fff;
}
.header .active {
    width: 90vw;
    height: auto;
    left: 5vw;
    background: rgba(0, 0, 0, .9);
    padding: 2.5rem;
}
.header .active li {
    margin: 0 0 3rem 0;
    border-bottom: 2px solid #d4d5d9;
}
.header .humb {
    width: 40px;
    height: 36px;
    display: block;
    text-indent: -9999px;
    border-bottom: 4px solid #fff;
    position: absolute;
    margin: 22px 0;
    left: calc(100vw - 52px);
    top: 0;
    z-index: 5;
}
.header .humb::before, .header .humb::after {
    content: '';
    width: 40px;
    height: 4px;
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
}
.header .humb::after {
    top: 16px;
}

/*---------------------------------------
Slider---------------------------------*/

.head {
    height: 100vh;
    overflow: hidden;
}
.head .slider .block {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    background: url(../images/sliderfoto.jpg) center/cover no-repeat;
}
.head .slider .block:nth-of-type(2n) {
    background-position: left;
}
.head .slider .block:nth-of-type(3n) {
    background-position: right;
}
.head .slider .slick-arrow {
    position: absolute;
    top: -9999px;
}
.slider .slick-dots {
    display: flex;
    flex-flow: row;
    position: absolute;
    top: calc(100vh - 7rem);
    left: calc(50% - 4.4rem);
    z-index: 3;
}
.slick-dots button {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: 0 2rem 0 0;
    text-indent: -9999px;
    border: none;
    background: #636363;
}



/*---------------------------------------
CAPTION---------------------------------*/

.color {
    position: relative;
    top: -100vh;
    left: 0;
    background: rgba(0, 0, 0, 0.1);
    height: 100vh;
    z-index: 2;
    width: 100vw;
}
.caption {
    height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap; 
}
.head .caption img, .head .caption h3, .head .caption p {
    margin: 0 0 2rem 0;
}
.head .caption h3 {
    color: #fff;
    font: 700 3.6rem/3.8rem 'Montserrat', sans-serif;
    text-transform: uppercase;
}
.head .caption p {
    color: #fff;
}

/*---------------------------------------
Button---------------------------------*/

.button {
    display: flex;
    position: relative;
    z-index: 2;
    white-space: nowrap;
}
.button a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font: 700 1.4rem/1.8rem 'Montserrat', sans-serif;
}
.button .left {
    width: 100%;
    padding: 1.5rem 2.5rem;
    background: #59a3fc;
    border-bottom-left-radius: 5%;
    border-top-left-radius: 5%;
    position: relative;
}
.button .right {
    width: 100%;
    padding: 1.5rem 2.5rem;
    background: #3d92f9;
    border-bottom-right-radius: 5%;
    border-top-right-radius: 5%;
}
.button span {
    width: 30px;
    height: 30px;
    position: absolute;
    top: calc(50% - 15px);
    left: calc(50% - 15px);
    padding: .5rem;
    background: #0078b2;
    border-radius: 50%;
    color: #fff;
    font: 700 1.2rem/1.4rem 'Montserrat', sans-serif;
    line-height: 1.8rem;
    text-transform: uppercase;
}

/*---------------------------------------
Items---------------------------------*/

.main .items {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
.main .items article {
    margin: 0 0 20px 0;
}
.main .items article:last-child {
    margin: 0;
}
.main .items img {
    display: inline-block;
}

/*---------------------------------------
Scheme---------------------------------*/

.main .scheme {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 40px;
    position: relative;
}
.scheme .box p {
    margin: 0 0 1rem 0;
}
.scheme .box p:first-child {
    font: 700 1.8rem/2rem 'Montserrat', sans-serif;
}
.scheme .box p:last-child {
    margin: 0;
}
.scheme .line {
    background: url(../images/Line.jpg);
    background-repeat: repeat-y;
    background-position: 9px, 0;
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-flow: column;
    align-items: flex-end;
}
.scheme .line::before, .scheme .line::after {
    content: '';
    width: 15px;
    height: 15px;
    position: absolute;
    border: 3px solid #d4d5d9;
    background: #fff;
    border-radius: 50%;
    left: 0;
}
.scheme .line::before {
    top: 0;
}
.scheme .line::after {
    bottom: 0;
}
.line .box {
    width: calc(100% - 40px);
    border: 2px solid #d4d5d9; 
    margin: 2rem 0;
    padding: 2rem;
    position: relative;
}
.line .box .secondLine {
    position: relative;
}
.line .box:nth-child(odd) .secondLine::after, .line .box:nth-child(even) .secondLine::after {
    content: '';
    position: absolute;
    width: calc(100% + 44px);
    height: 4px;
    background: #4fb1f3;
    bottom: -22px;
    left: -22px;
}
.line .box:nth-child(even) .secondLine::after {
    background: #ff1e4f;
}
.line .box .secondLine::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: calc(100% - 67px);
    left: -37px;
    border-right: 15px solid #d4d5d9;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
}
.line .box .firstLine::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: calc(100% - 87.5px);
    left: -14px;
    border-right: 15px solid #fff;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    z-index: 2;
}
.line .box:nth-child(odd) .firstLine::before, .line .box:nth-child(even) .firstLine::before {
    position: absolute;
    content: '';
    width: 15px;
    height: 15px;
    background: #4fb1f3;
    border-radius: 50%;
    top: calc(50% - 7.5px);
    left: -39.5px;
}
.line .box:nth-child(even) .firstLine::before {
    background: #ff1e4f;
}
.scheme a {
    display: block;
    text-decoration: none;
    background: #ff1e4f;
    color: #fff;
    font: 700 2rem/2.4rem 'Montserrat', sans-serif;
    border-radius: 5px;
    padding: 1.3rem 1.5rem;
    margin: 2rem 0;
    position: absolute;
    bottom: -44px;
    left: 2.5vw;
    width: calc(100% - 5vw);
}

/*---------------------------------------
Work---------------------------------*/

.main .work {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 50px;
    position: relative;
}
.work .secondSlider .slick-arrow {
    position: absolute;
    bottom: -30px;
    text-indent: -9999px;
    background: url(../images/Arrow.png) center no-repeat;
    width: 24px;
    height: 24px;
    border: none;
    z-index: 2;
}
.work .secondSlider .slick-prev {
    left: calc(50% - 24px);
    transform: rotate(180deg);
    text-indent: 9999px;
 }
.work .secondSlider .slick-next {
    left: calc(50% + 5px);
}
.secondSlider .blockSlider {
    overflow: hidden;
}
.secondSlider .blockSlider .image {
    position: relative;
    margin: 0 0 20px 0;
}
.secondSlider .blockSlider .image p {
    position: absolute;
    left: 10px;
    bottom: -5px;
    color: #fff;
    background: rgba(0, 0, 0, .5);
    padding: 1rem 2rem;
}

/*---------------------------------------
Testimonials---------------------------------*/

.testimonials {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}
.testimonials article .box {
    position: relative;
}
.testimonials article img {
    border-radius: 50%;
    display: inline-block;
}
.testimonials article .box {
    margin: 20px 0;
    padding: 1.5rem;
    border: 3px solid #d4d5d9;
    border-radius: 3%;
}
article .box h3 {
    color: #111111;
    font: 1.8rem/2rem 'Montserrat', sans-serif;
    margin: 0 0 2.5rem 0;
}
.testimonials article .box::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: -20px;
    left: calc(50% - 20px);
    border-bottom: 20px solid #d4d5d9;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
}
.testimonials article .box::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: -15px;
    left: calc(50% - 20px);
    border-bottom: 20px solid #fff;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    z-index: 2;
}

/*---------------------------------------
Team---------------------------------*/

.meetTeam {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
.team .img img {
    display: inline-block;
    border-radius: 50%;
}
.team article ul {
    display: flex;
    flex-flow: row;
    justify-content: center;
}
.team article li {
    width: 30px;
    height: 20px;
    margin: 0 10px 0 0;
}
.team article li:last-child {
    margin: 0;
}
.team article {
    margin: 0 0 30px 0;
}
.team article a {
    display: block;
    text-indent: -9999px;
    background: url(../images/spritesheet1.png);
}
.team {
    counter-reset: count;
}
.team article .img {
    justify-content: center;
    position: relative;  
}
.team article .img::before {
    counter-increment: count;
    content: counter(count);
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #0078b2; 
    top: calc(50% - 2.3rem);
    left: calc(50% - 9rem);
    border: 6px solid #fff;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.team article ul .pic1 {
    width: 10px;
    height: 20px;
    background-position: 0 0;
}
.team article ul .pic2 {
    width: 20px;
    height: 18px;
    background-position: -10px 0;
}
.team article ul .pic3 {
    width: 20px;
    height: 20px;
    background-position: -30px 0;
}
.team article h2 {
    color: #111111;
    font: 1.8rem/2rem 'Montserrat', sans-serif;
    margin: 0 0 1rem 0;
}

/*---------------------------------------
Map---------------------------------*/

.main .map {
    padding: 0 5wv;
    overflow: hidden; 
}


/*---------------------------------------
Footer---------------------------------*/

.bottomColor {
    background: #000;
    padding-top: 30px;
    padding-bottom: 30px;
}
.footer .sponsor {
    background: #111111;
    padding-top: 30px;
    padding-bottom: 30px;
}
.footer .sponsor .spriteFooter {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.footer .sponsor li {
    margin: 0 0 20px 0;
}
.footer .sponsor li:last-child {
    margin: 0;
}
.footer .sponsor a {
    display: block;
    background-repeat: no-repeat;
    background: url(../images/spritesheet_footer.png);
    text-indent: -9999px;
}
.footer .sponsor .ic1 {
    width: 85px;
    height: 71px;
    background-position: 0 0;
}
.footer .sponsor .ic2 {
    width: 101px;
    height: 61px;
    background-position: 0 -71px;
}
.footer .sponsor .ic3 {
    width: 199px;
    height: 45px;
    background-position: 0 -132px;
}
.footer .sponsor .ic4 {
    width: 75px;
    height: 37px;
    background-position: 0 -177px;
}
.footer .bottom ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.footer .bottom > ul > li:nth-child(2n), .footer .bottom ul li:nth-child(2n) ul {
    text-align: center;
}
.footer .bottom > ul > li:nth-child(3n), .footer .bottom ul li:nth-child(3n) ul {
    text-align: right;
}
.footer .bottom ul ul{
    flex-flow: column;
}
.bottom > ul > li {
    color: #fff;
    font-weight: 700;
}
.bottom li a {
    color: #fff;
    font-weight: 400;
    text-decoration: none;
}
.form .search {
    position: relative;
}
.form p {
    color: #fff;
    font-weight: 700;
    margin: 20px 0;
}
.form input[type="email"] {
    width: 90vw;
    padding: 10px 25px;
    background: #363636;
    border: none;
}
.form input[type="button"] {
    width: 48px;
    height: 100%;
    background: #555555;
    border: none;
    text-transform: uppercase;
    position: absolute;
    top: 0;
    right: 0;
}


/*--------------------------------------------------
-----@media 768px-----------------------------------
----------------------------------------------------*/

@media screen and (min-width:768px) {
    
    /*---------------------------------------
    Items---------------------------------*/

    .main .items {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }
    .main .items article {
        width: calc((100% - 20px) / 2);
        margin: 0 20px 20px 0;
    }
    .main .items article:nth-of-type(2n) {
        margin: 0 0 20px 0;;
    }
    
    /*---------------------------------------
    Scheme---------------------------------*/
    
    .line .box .secondLine::before {
        top: calc(100% - 42px);
    }
    .line .box .firstLine::after {
        top: calc(100% - 62.5px);
    }
    
    
    
    .secondSlider .blockSlider .image {
        margin: 0 20px 20px 0;
    }


    /*---------------------------------------
    Testimonials---------------------------------*/

    .testimonials article {
        display: flex;
        flex-flow: row;
    }
    .testimonials article img {
        flex: 1 calc(50% - 30px);
        margin: 0 30px 0 0;
    }
    .testimonials article .box {
        margin: 0;
    }
    .testimonials article .box::before {
        top: calc(50% - 20px);
        left: -40px;
        border-right: 20px solid #d4d5d9;
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
    }
    .testimonials article .box::after {
        top: calc(50% - 20px);
        left: -35px;
        border-right: 20px solid #fff;
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
    }
    /*---------------------------------------
    Team---------------------------------*/

    .meetTeam .team {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }
    .team article {
        width: calc((100% - 30px) / 2);
        margin: 0 30px 30px 0;
    }
    .team article:nth-of-type(2n) {
        margin: 0 0 30px 0;
    }
    .team article ul .pic1:hover, .team article ul .pic2:hover, .team article ul .pic3:hover {
        transform: scale(1.4);
    }
    
    
}
/*--------------------------------------------------
-----@media 990px-----------------------------------
----------------------------------------------------*/

@media screen and (min-width:990px) {
    
    body {
        font: 1.4rem/2.4rem 'Open Sans', sans-serif;
    }
    .grid, .miniGrid {
        max-width: 990px;
        padding: 0;
        margin: auto;
    }
    .miniGrid {
        max-width: 720px;
    }
    
    /*---------------------------------------
    Common Styles---------------------------*/

    .main h1 {
        font: 3rem/3.2rem 'Montserrat', sans-serif;
    }

    /*---------------------------------------
    LOGO---------------------------------*/
    
    .slick-dots button:hover {
        background: #b7b7b7;
    }
    
    .header .grid {
        position: relative;
    }
    .header .logo {
        transform: scale(1);
        left: 0;
    }
    .header .logo a {
        transition: 1s linear;
    }
    .header .humb {
        display: none;
    }
    .header .menu {
        top: 25px;
        left: 250px;
        width: 72.22%;
    }   
    .header .menu ul {
        flex-flow: row;
        text-align: center;
    }
    .header .menu li {
        margin: 0 3rem 0 0;
        padding: 1rem;
        white-space: nowrap;
    }
    .header .menu li:last-child {
        margin: 0;
    }
    .menu ul a {
        font: 700 1.4rem/1.8rem 'Montserrat', sans-serif;
    }
    header .menu li:hover {
        background: #3498db; 
        border-radius: 5px; 
    }
    .header .logo:hover .img1 {
        background-position: 0 156px;
    }
    .header .logo:hover .img2 {
        background-position: 0 52px;
    }
    .header .logo:hover .img3 {
        background-position: 0 104px;
    }
    .header .logo:hover .img4 {
        background-position: 0 78px;
    }
    .header .logo:hover .img5 {
        background-position: 0 0;
    }
    
    /*---------------------------------------
    CAPTION---------------------------------*/

    .head .caption img {
        margin: 0 0 7rem 0;
    }
    .head .caption h3 {
        margin: 0 0 3rem 0;
        font: 700 4.8rem/5rem 'Montserrat', sans-serif;
    }
    .head .caption p {
        margin: 0 0 5.5rem 0;
    }
    
    /*---------------------------------------
    Items---------------------------------*/

    .main .items {
        justify-content: flex-start;
    }
    .main .items article {
        width: calc((100% - 220px) / 3);
        margin: 0 110px 20px 0;
    }
    .main .items article:nth-of-type(2n) {
        margin: 0 110px 20px 0;
    }
    .main .items article:nth-of-type(3n) {
        margin: 0 0 20px 0;
    }
    
    /*---------------------------------------
    WORK---------------------------------*/

    .scheme .grid {
        flex-flow: row wrap;
    }
    .scheme .line {
        flex-flow: row;
        flex: 1 100%;
        background-position: calc(50% + 2px), 0;
    }
    
    .scheme .line::before, .scheme .line::after {
        left: calc(50% - 7.5px);
    }
    .line .box {
        width: 44.44%;
    }
    .line .box:nth-of-type(even) {
        margin: 55px 0 220px 55px;
    }
    .line .box:nth-of-type(odd) {
        margin: 55px 55px 55px 0;
    }
    .line .box:nth-child(even) .firstLine::before {
        left: -61.5px;
    }
    .line .box:nth-child(odd) .firstLine::before {
        left: 487.5px;
    }
    .scheme a {
        bottom: -44px;
        left: calc(50% - 100px);
        width: auto;
        transition: background 1s;
        border: 2px solid transparent;
    }
    .scheme a:hover {
        color: #ff1e4f;
        background: #fff;
        border: 2px solid #ff1e4f;
    }
    .line .box .secondLine::before {
        top: calc(100% - 43px);
    }
    .line .box .firstLine::after {
        top: calc(100% - 63.5px);
    }
    .line .box:nth-child(odd) .secondLine::before {
        border-left: 15px solid #d4d5d9;
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
        border-right: none;
        top: calc(100% - 43px);
        left: 416px;
    }
    .line .box:nth-child(odd) .firstLine::after {
        top: calc(100% - 63px);
        left: 433px;
        border-right: none;
        border-left: 15px solid #fff;
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
        z-index: 2;
    }
    
    /*---------------------------------------
    Testimonials---------------------------------*/

    
    .testimonials article img {
        flex: 1 11.25%;
        margin: 0 35px 0 0;
    }
    .testimonials article .box {
        flex: 1 67.9522%;
        padding: 2.5rem;
    }
    .testimonials article .box::before, .testimonials article .box::after {
        top:calc(100% - 150px);
    }
    
    
    
    /*---------------------------------------
    Team---------------------------------*/

    .team article {
        width: calc((100% - 90px) / 4);
        margin: 0 30px 30px 0;
    }
    .team article:nth-of-type(2n) {
        margin: 0 30px 30px 0;
    }
    .team article:nth-of-type(4n) {
        margin: 0 0 30px 0;
    }
    .team article li {
        background: ;
    }
    
    
    .form .search {
        display: inline-block;
        position: relative;
        width: 100%;
    }
    .form input[type="email"] {
        width: 100%;
        padding: 10px 25px;
        background: #363636;
        border: none;
    }
    .form input[type="button"] {
        width: 48px;
        height: 100%;
        background: #555555;
        border: none;
        text-transform: uppercase;
        font-weight: 700;
        position: absolute;
        top: 0;
        right: 0;
    }
    .footer .sponsor .spriteFooter {
        flex-flow: row;
        justify-content: center;
    }
    .footer .sponsor li {
        margin: 0 115px 0 0;
    }
    .footer .sponsor li:nth-child(4n) {
        margin: 0;
    }
    .footer .footerBlock {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
    }
    .bottomColor .bottom {
        width: 35.35%;
    }
    .bottomColor .form{
        width: 35.35%;
    }

}
